.card {
  overflow: hidden;
  position: relative;
  width: 100%;

  &__copy {
    margin: 50px 40px;
  }
}

.image {
  width: 100%;
}

.card__title {
  margin-top: 50px;
  text-transform: inherit;
  letter-spacing: 0.18px;
  font-size: 18x;

  &-link {
    text-decoration: none;
    color: black;
  }
}

.card__subtitle {
  color: grey;
}

.card__body {
  margin: 0.7em 0 1em;
  font-size: 16px;
  color: black;
  letter-spacing: 0.16px;
  font-weight: 300;
}

.card__button {

  text-decoration: none;
  text-transform: uppercase;
  text-align: right;
  display: block;
  font-size: 18px;
  font-weight: normal;
  line-height: 24px;
  letter-spacing: 0.45px;
  color: #c4262e;
  margin-top: 40px;
}

.icon {
  width: 60px;
  padding: 0;
  height: 15px;
}

// Variations
.card--bg {
  background-color: lavenderblush;
}

.card--border-light {
  background-color: wheat;
  border: 1px solid rosybrown;
}

.card--border-dark {
  border: 1px solid grey;
}